.activeCard{
    padding: 18px;
    background: #211938;
    border-radius: 8px;
    max-width: 100%;
}
.activeCard img{
    width: 90px;
    height: 90px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}
.noFeesBlock{
    display: inline-block;
    vertical-align: middle;
    margin-right: 90px;
}
.noFeesHeader{
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 10px;
}
.unstyledBtn{
    border: 1px solid rgb(37, 255, 148);
    height: 20px;
    font-size: 12px;
    color: rgb(37, 255, 148);
    background: transparent;
    border-radius: 26px;
    padding: 0 12px;
}
.percentCard{
    display: inline-block;
    vertical-align: middle;
    margin-right: 44px;
}
.percentCardText{
    color: #ffffff;
    font-weight: bolder;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.percentCard img{
    width: 19px;
    height: 19px;
}
    .depositFee {
        color: #ffffff;
        display: inline-block;
        vertical-align: middle;
    }

.depositCard{
    display: inline-block;
    vertical-align: middle;
    width: 210px;
    margin-right: 72px;
}
.depositFeepercent{
    display: inline-block;
    vertical-align: middle;
    float: right;
    color: #ffffff;
}
.font14{
    font-size: 14px;
}
.liquidityText{
    color: rgb(255, 255, 255);
    font-weight: 400;
    line-height: 1.5;
    font-size: 12px;
}
.liquidityCard{
    display: inline-block;
    vertical-align: middle;
    margin-right: 58px;
}
.liquidityAmt{
    font-size: 18px;
    color: #ffffff;
}
.earnedAmt{
    color: #ffffff;
}
.earnedText{
    color: #ffffff;
}
.earnedCard{
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}
.leftArrowBlock{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
}
.unlockBtn{
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 6px;
    box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s;
    height: 48px;
    padding: 0px 24px;
    background-color: rgb(107 22 88);
    color: white;
}
.showOnclick{
    text-align: center;
    margin-top: 18px;
}
.getView{
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    border-right: 1px solid #6b1658;
}
.viewScan{
    display: inline-block;
    vertical-align: middle;
    color: #6b1658;
}
.getView a{
    color: #6b1658;
    text-decoration: none;
    font-weight: normal;
    margin-right: 12px;
}
.getView img{
    fill:"rgb(107, 22, 88) !important";
    width: 19px;
    height: 19px;
}
.btmBlock{
    text-align: right;
    margin-top: 24px;
}
@media only screen and (max-width: 768px)  {
    .HeroCard{
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        flex-direction: column;
        margin: 32px auto;
        padding: 32px;
        background:#6b1658;
        border-radius: 8px;
        align-items: baseline;
        margin-top: 0;
    }
}